---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>
</div>

<div class="post">
  <form action="https://submit-form.com/Ky8dRN3Dz" method="POST" id="contact-form" name="contact-form">
    <p>
      <label for="name">Name</label>
      <br>
      <input type="text" id="name" name="name" placeholder="Name" required size="100%">
    </p>
    <p>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" placeholder="Email" required size="100%">
    </p>
    <p>
      <label for="message">Message</label><br>
      <textarea
        id="message"
        name="message"
        placeholder="Message"
        required
        cols="100%"
        rows="10"
      ></textarea>
    </p>
<input
    type="hidden"
    name="_redirect"
    value="https://www.cabematthews.com/thanks"
  />
<input type="hidden" name="_append" value="true" />
    <button
      class="g-recaptcha"
      data-sitekey="6LeTGk8qAAAAAOtFCILYA5PaEs8O4UyKSpEKfXez"
      data-callback="onSubmit"
      data-action="submit"
      type="submit"
    >
      Send
    </button>
  </form>
</div>

<!-- CAPTCHA - Use a callback function to handle the response token. -->
<script>
  function onSubmit(token) {
    document.getElementById('contact-form').submit();
  }
</script>
