---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>
</div>

<div class="post">
  <form action="https://submit-form.com/Ky8dRN3Dz">
    <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.enterprise.ready(async () => {
          const token = await grecaptcha.enterprise.execute('6LeTGk8qAAAAAOtFCILYA5PaEs8O4UyKSpEKfXez', { action: 'LOGIN' });
        });
      }
    </script>
    <p>
      <label for="name">Name</label>
      <br>
      <input type="text" id="name" name="name" placeholder="Name" required size="100%">
    </p>
    <p>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" placeholder="Email" required size="100%">
    </p>
    <p>
      <label for="message">Message</label><br>
      <textarea
        id="message"
        name="message"
        placeholder="Message"
        required
        cols="100%"
        rows="10"
      ></textarea>
    </p>
    <button type="submit">Send</button>
  </form>
</div>
<script src="/js/jquery.min.js"></script>
{% include better-forms.html %}
